@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

#texto{

  font-family: 'Comfortaa', cursive;
  color:#00330d;
  text-align: center;
 }


body{

	background-image: url("https://serving.photos.photobox.com/2772589693535a88b85fd2ba330792066b67a35b95812a8b55862b1f137819a39ef57d11.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-position: 70px 1px;
	background-color: #000	

}

.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    border:5px solid #FFF;
}