@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

#texto{

  font-family: 'Comfortaa', cursive;
  color:#00BFFF;
  text-align: center;
 }

.fondo {
	background-image: url(fondo.jpeg);
	background-position: 70px 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    border:5px solid #FFF;
}