@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

#texto{

  font-family: 'Comfortaa', cursive;
  color:#00330d;
  text-align: center;
 }

 /*
.fondo {
	background-image: url(fondo2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-position:70px 1px;
	background-color: #000	

}

*/

body{

	background-image: url("https://images.pexels.com/photos/1267473/pexels-photo-1267473.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-repeat: no-repeat;

}

.imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    border:5px solid #FFF;
}